@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme{
  --font-display: "Poppins", "sans-serif";
  --breakpoint-3xl: 1980px;
  --color-primary: blue;
}
@layer base{
  html{
    font-family: var(--font-display);
  }
  body{
    background-color: #fcfbfc;
    overflow-x: hidden;
    
  }
}
.input-box{
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}
.btn-primary{
  @apply flex items-center justify-center gap-2 w-full text-sm font-medium text-white bg-blue-600 shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 hover:bg-blue-600/20 hover:text-purple-600;
}

.card {
  @apply bg-white p-5 rounded-xl shadow-lg border border-gray-100;
}

.card-btn{
  @apply flex items-center gap-3 text-[12px] font-medium text-gray-700 hover:text-purple-500 bg-gray-50 hover:bg-purple-50 px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer;
}

.add-btn{
  @apply flex items-center gap-1.5 text-xs md:text-sm font-medium text-purple-600 whitespace-nowrap bg-purple-50 border border-purple-100 rounded-lg px-4 py-2 cursor-pointer;
}

.add-btn-fill {
  @apply text-white bg-primary;
}

@layer utilities {
  @keyframes slideLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slide-right {
  0% { transform: translateX(-30px); }
  100% { transform: translateX(0); }
}

.animate-slide-right {
  animation: slide-right infinite 0.8s ease-out;
}

@keyframes slide-left {
  0% { transform: translateX(30px); }
  100% { transform: translateX(0); }
}

.animate-slide-left {
  animation: slide-left infinite 0.8s ease-out;
}

  .animate-slideLeft {
    animation: slideLeft 0.7s ease-in-out forwards;
  }

  .animate-slideRight {
    animation: slideRight 0.7s ease-in-out forwards;
  }
}


